*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.logo{
    grid-area: logo;
    background-color: red;
}
.title{
    grid-area: title;
    background-color: green;    
}
.m1{
    grid-area: m1;
    background-color: grey;
}
.m2{
    grid-area: m2;
    background-color: grey;
}
.m3{
    grid-area: m3;
    background-color: grey;
}
.m4{
    grid-area: m4;
    background-color: grey;
}
.s1{
    grid-area: s1;
    background-color: yellow;
}
.s2{
    grid-area: s2;
    background-color: yellow;
}
.s3{
    grid-area: s3;
    background-color: yellow;
}
.s4{
    grid-area: s4;
    background-color: yellow;
}
.a{
    grid-area: a;
    background-color: silver;
}
.b{
    grid-area: b;
    background-color: silver;
}
.c{
    grid-area: c;
    background-color: silver;
}
.d{
    grid-area: d;
    background-color: silver;
}
.e{
    grid-area: e;
    background-color: silver;
}
.f{
    grid-area: f;
    background-color: silver;
}
.g{
    grid-area: g;
    background-color: silver;
}
.h{
    grid-area: h;
    background-color: silver;
}
.i{
    grid-area: i;
    background-color: silver;
}
.j{
    grid-area: j;
    background-color: silver;
}
.k{
    grid-area: k;
    background-color: silver;
}
.l{
    grid-area: l;
    background-color: silver;
}
.wrapper{
    height: 100vh;
    width: 100vw; 
    display: grid;
    grid-template-rows: 1fr 3fr 1fr 0.5fr 0.5fr;
    grid-template-areas: 
    "title"
    "m1"
    "s1"
    "a"
    "b";
    gap:30px;
    border: 20px white solid;
}
.logo, .c, .d, .e, .f, .g, .h, .i, .j, .k, .l, .m2, .m3, .m4, .s2, .s3, .s4{
    display: none;
}
@media(min-width:760px){
    .wrapper{
        grid-template-rows: 2fr 3fr 1fr 0.5fr 0.5fr 0.5fr 0.5fr;
        grid-template-areas: 
        "logo title title title"
        "m1 m1 m2 m2"
        "s1 s1 s2 s2"
        "a a b b"
        "c c d d"
        "e e f f"
        "g g h h";
        gap:30px;
       
    }
    .logo,.c,.d,.e,.f,.g,.h,.m2,.s2{
        display: grid;
    }
}
@media(min-width: 960px){
    .wrapper{
        grid-template-rows: 2fr 3fr 1fr 0.5fr 0.5fr;
        grid-template-areas: "logo title title title title title"
        "m1 m1 m2 m2 m3 m3"
        "s1 s1 s2 s2 s3 s3"
        "a a b b c c"
        "d d e e f f";
    }
    .m3, .s3{
        display: grid;
    }

    .g, .h{
        display: none;
    }
}

@media(min-width: 1360px){
    .wrapper{
        grid-template-rows: 2fr 3fr 1fr 0.5fr 0.5fr 0.5fr;
        grid-template-areas: "logo logo logo title title title title title"
        "m1 m1 m2 m2 m3 m3 m4 m4"
        "s1 s1 s2 s2 s3 s3 s4 s4"
        "a a b b c c d d"
        "e e f f g g h h"
        "i i j j k k l l";
    }
    .m4, .s4{
        display: grid;
    }

    .g, .h, .i, .j, .k, .l{
        display: grid;
    }
}